{% extends 'blog/base.html' %}
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7" style="padding-top: 130px;">
          {% for post in posts reversed %}
            <div class="post-preview">
              <a href="{% url 'single_post' pk=post.id%}">
                  <h2 class="post-title">{{ post.title }}</h2>
                  <h3 class="post-subtitle">{{ post.content }}</h3>
              </a>
              <p class="post-meta">
                  От
                  <a href="{% url 'user_page' pk=post.author.pk %}">{{ post.author }}</a>
              </p>
              <p class="post-meta">{{ post.created_at }}</p>
              <p class="post-meta" style="font-size: 7pt; margin: 0px;">{{ post.post_type }}</p>
                <div>
                    <form method="POST" class="list-inline">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <button type="submit" class="btn btn-info list-inline-item" name="accept">Принять</button>  
                        <button type="submit" class="btn btn-danger list-inline-item" name="deny">Отклонить</button>
                    </form>
                </div>
              <hr><br>
          </div>
          {% empty %}
              <h1>Нет постов</h1>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}